body {
  position: relative;
  left : 0px;
  top : 0;
  width : 100%;
  height : 100%;
  margin : 0;
  padding: 0;
  font-family: sans-serif;

}
/* 헤드 */
div.header{
  display: flex;
	flex-direction:row;
	align-items : flex-start;
	align-content:flex-start;
  height : 6%;
  width : 100%;
  text-align: : center;
  background-color: #EDF0F3;
  border-bottom: 2px solid #E8E9EB;
	/* height: 100% */
}



div.header-logo{
  margin: 10px;
}

div.top_menu ul li{
  display: inline;
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  top: 5px;
}

.menu_style{
  margin-left: -40px;
}

div.searchBar{
  margin: 10px;
}

input[class="temp1"]{
  padding-left: 120px;
}

.temp1 {
  width: 400px;
  height: 35px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1.5px solid lightgrey;
  font-size: 14px;
}

.temp2 {
  width: 105px;
  height: 25px;
  background-color: ligthgrey;
  border-radius: 3px;
  border: none;
  
}


div.login_area {
  margin-left: 380px;
  float: left;
  }

.btn1{
  width: 70px;
  height: 35px;
  background-color: #66B74A;
  color: white;
  font-weight: bold;
  border: 1.5px solid #64A853;
  border-radius: 3px;
  outline-color: none;
  position: absolute;
  left: 900px;
  top: 10px;
  }

.btn2{
  width: 70px;
  height: 35px;
  background-color: lightgrey;
  border: 1.5px solid #A5A5A5;
  color: black;
  font-weight: bold;
  border-radius: 3px;
  outline-color: none;
  align-self: center;
  position: absolute;
  left: 980px;
  top: 10px;


}

.wide-margin{
  margin: 150px;
}




/* div.top_menu ul.menu_style, div.top_menu{
  margin: 150px;
} */


/* 메인 */
div.main{
  display: flex;
	flex-direction:row;
	align-items : flex-start;
	align-content:flex-start;
}
/* 상단 */
div.center{
  display: flex;
  flex-direction: column;
  margin:10px;
  padding:10px;
}
div.main_head{
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
div.main_list{
  flex-grow: 1;
  flex-shrink: 0;
}
div.main_contents{
  flex-grow: 1;
  flex-shrink: 0;
}
span.git_word{
  color: #797979;
  font-family: sans-serif;
}
div.user_menu{
  height: 100px;
  width: 100%;
}
header.user_name{
  margin top: 50px;
  margin-bottom: 15px;
}

div.user_status{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  background-color : #F5F5F5;
  border:0.8px solid #D0D0D0;
  border-radius: 2px;
}


div.user_content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height:50px;

}
button.content_button{
  flex-grow: 1;
  width:100%;
  font-size:13px;
  height:50px;
  border: 1px  solid white;
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
}
button.content_button:hover{
  color: blue !important;
}
div.user_yellow_box{
  width:100%;
  height: 10px;
  background-color: yellow;
}

div.user_inform{
  float:left;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
}
div.inform_content{
  margin-left: 2px;
  margin-right: 2px;
  height: 100%;
}
div.inform_content:nth-child(1){
  flex-grow: 6;
}
div.inform_content:nth-child(2){
  flex-grow: 8;
  font-size: 13px;
}
div.inform_content:nth-child(3){
  flex-grow: 108;
  font-size: 17px;
  height:80%;
  padding:2px;
}
div.inform_content:nth-child(4){
  flex-grow: 5;
}
button.inform_button{
  height: 100%;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 1px;
  border:0.8px solid #D0D0D0;
  border-radius: 2px;
  cursor: pointer;
}
button.inform_button:hover{
  background-color: #CECECE;
  border:0.8px solid #B0B0B0;
  border-radius: 2px;
}
#sp_button{
  background: #4CAF50;
  color: white;
}
#sp_button:hover{
  background: #2C8F30;
  color: white;
  border:0.8px solid #B0B0B0;
  border-radius: 2px;
}
/* 리스트 부분 */

table.repo_list_content{
  width: 100%;
  border-top: 1px solid #444444;
  border-collapse: collapse;
}

div.repository_list td{
  border-bottom: 1px solid #444444;
  padding: 10px;
  /* background-color: #F5F5F5 */

}

div.repository_list tr td.left{
  text-align: left;
  width: 40%;
  /* color: #FCA205; */
}
div.repository_list tr td.center{
  text-align: left;
  /* color: #FCA205; */
  width: 30%;
}
div.repository_list tr td.right{
  text-align: right;
  /* color: #FCA205; */
  width: 30%;
}
div.repository_list tr.repo_upper_move{
  background-color : #90B1D2;
}
div.repository_list tr.repo_user_status{
  background-color : #F5F5F5;
}
div.repository_list tr.repo_branch_status{
  background-color : #F5F5F5;
}
/* 콘텐츠 부분 */
div.main_contents{
  width: 100%;
  height: 20%;
  border : 1px solid #444444
}
div.content_show div.content_head{
  border : 0.5px solid #444444;
  background-color : #F5F5F5;

  padding: 10px;
}
div.main_contents div.content{
  border : 1px solid #444444
  width : 100%;
  height: 100%;
}



/* 바닥 */
div.footer{
  display: flex;
	flex-direction:row;
	align-items : flex-start;
	align-content:flex-start;
  width: 100%;
  border-top: 1px solid #E8E9EB;
  margin-top: 80px;
  margin-left: 0px;
  padding-top: 30px;
  position: absolute;
  justify-content: space-between;
  font-size: 13px;


	/* height: 100% */
  /* display: flex;
  flex-direction: row;
  align-items: flex-start; */
}

div.footer-logo{
  fill: #959DA5;
}

div.footer ul li{
  display: inline;
  padding-top: 40px;
  margin-right: 10px;
}

.list_style{
  margin-left: -40px;
}

a:link {text-decoration: none;}
a:hover {color: blue; text-decoration: underline;}

/* 사이드 바 부분 */
.code_activity{
  width:100%;
  box-shadow: inset 0px 8px 10px -10px #A4A4A4;
  border-top-right-radius:3px;
  border-bottom-right-radius:5px;
  border-right: 2px solid #FF4000;
  height: 7%;
}

.table_middle{
  width:100%;
  box-shadow: inset 10px 8px 10px -10px #A4A4A4;
  height: 14%;
}
.table_bottom{
  width:100%;
  box-shadow: inset 10px 8px 10px -10px #A4A4A4;
  height: 14%;

}
.middle_address{
  width:50%;
  border-radius: 3px;
  box-shadow: inset 0 0 10px #A4A4A4;
}
.bottom_clone{
  width:100%;
    height:4%;
  border-radius: 3px;
  box-shadow: inset 0 0 10px #A4A4A4;
}
.bottom_zip{
  width:100%;
  height:4%;
  border-radius: 3px;
  box-shadow: inset 0 0 10px #A4A4A4;
}
.table_middle tr th.number{

  border-radius:100px;
  background-color: #E6E6E6;

  text-align: center;
}

.side_bar{
  margin: 20px;
}








* {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}

html {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}

body {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}

/* TODO: 또 어떤 코드들이 들어가야 할까요? */
